.header-container {
    display: flex;
    justify-content: center;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 30px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 35px;
}


.img-container img {
    height: 250px;
    margin: 10px 0px;
}